* {
    box-sizing: border-box;
}

.dashboard {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
    
}

.leftside {
    background-color: #EEF2FF;
    width: 25vh;
    height: 100%;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 18vh;
    align-items: 'center';
}

.rightside {
    background-color: #fff;
    flex: 1;
    height: 100%;
    padding-left: 3vh;
    padding-top: 5vh;
}

.leftside button {
    padding: 7px;
    padding-left: 15px;
    margin-bottom: 7px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}